SECRET_KEY=PUT_YOUR_SECRET_KEY_HERE
MONGO_URI=PUT_YOUR_MONGO_URI_HERE
JWT_EXPIRATION_HOURS=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
HIBP_API_KEY=''
ADMIN_SEED_PASSWORD=
USER_SEED_PASSWORD=
DEFAULT_SEED_PASSWORD=
